.login-box {
    background-color: $white;
    color: $black;
    position: relative;
    border-radius: 2px;
    padding: 20px;
    width: 100%;
    max-width: 420px;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    transition: box-shadow .25s;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);

    .form-control {
        margin-top: 20px;
    }
    
    .reset-password {
        .form-control {
            margin-top: 0;
        }
        .title {
            color: $input-color;
        }
    }

    .other-actions {
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .page-copyright {
        font-size: 14px;
        margin-top: 20px;
        text-align: center;
        p {
            margin-bottom: 0;
            font-size: 70%;
            color: color('grey','darken-1');
        }
    }

    a {
        // color: $ls-color-primary;
        color: $ls-color-primary;

        &:hover {
            // color: darken($ls-color-primary, 5%);
            color: darken($ls-color-primary, 5%);
        }
    }

    .btn-login {
        // background-color: $ls-color-primary;
        background-color: $ls-color-primary;
        // color: $ls-color-secondary;
        color: color('shades','white');

        &:hover {
            background-color: darken($ls-color-primary, 5%);
        }
    }

}

.login-box .c-input {
    color: color('grey','darken-1');

    .c-indicator {
        top: 2px;
    }
}

.login-wrapper .c-input {

    > input {

        &:checked ~ .c-indicator {
            background-color: #333;
            @include box-shadow(none);
        }

        &:focus ~ .c-indicator {
            // the mixin is not used here to make sure there is feedback
            box-shadow: 0 0 0 .075rem #fff, 0 0 0 .2rem darken(#333, 5%);;
        }

        &:active ~ .c-indicator {
            background-color: darken(#333, 5%);
            @include box-shadow(none);
        }
    }

}

.login-wrapper {
    height: 100vh;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: color('grey','lighten-3');
}

.login-page .brand-main {
    // margin-bottom: 50px;
    text-align: center;

    img {
        width: 60%;
        height: auto;
    }
    @include media-breakpoint-down(sm) {
        float: none;
        padding: 0;
    }
}

.other-options {
    border-top: 1px solid #fff;
    padding: 1rem 0;
    margin-top: 2rem;

    h6 {
        color: #c7cbd1;
        font-size: 15px;
        margin-top: 12px;
    }

    a, a:hover {
        color: $white;
    }
}
