.tab-content .card{
	padding: 20px 0;
}
button, input, optgroup, select, textarea {
	font-family: $base-font-family;
	font-size: 15px;
}
.select2-container {
	width: 100% !important;
}


/****************************
	tournament_add
****************************/

/* form accordian */
.optional_details .panel {
	box-shadow: none;
	/*border: 1px solid #ccc;*/
	margin-bottom: 27px;
}
.optional_details .panel a.panel-title{
	padding: 10px;
     border: 1px solid #ccc; 
}
.optional_details .panel .panel-content {
	margin-top: 2%;
	padding: 0;
}
.padding0{
	padding: 0;
}
.optional_details .panel .panel-content .form-inline label {
	-webkit-box-align: start;
	align-items: flex-start;
	-webkit-box-pack: start;
	justify-content: flex-start;
}
.optional_details .panel .panel-content .form-inline .form-group {
	-webkit-box-align: start;
	align-items: flex-start;
}
.optional_details .panel .panel-content .form-inline .form-group .form-group{
	margin-bottom: 1rem;
	margin-right: 0;
}

/****************************
	competation_format
****************************/
.competition_list {
	background-color: #F2F2F2;
	padding: 10px;
	margin-bottom: 20px;
}
.competition_list span {
	font-weight: 600;
}

/****************************
	pitch_capacity
****************************/
#availability {
	width: 95%;
	margin: 0 auto;	
}
#availability form.form-inline label {
	-webkit-box-align: start;
	align-items: flex-start;
	-webkit-box-pack: start;
	justify-content: flex-start;
}
#availability form.form-inline .col-md-12
{
	margin-bottom: 1rem;
}
#availability form.form-inline .col-md-12 .span{
	font-size: 12px;
	color: #ccc;
	text-decoration: none;
}