.euro-radio+label {
    &:before {
        top: 2px;
    }

    &:after {
        top: 8px;
        background: $theme-color-primary;
    }
}

.euro-radio:checked+label:before {
    border-color: $theme-color-primary;
}