/node_modules
/public/storage
/storage/*.key
/vendor
/.idea
/bootstrap
Homestead.json
Homestead.yaml
.env
.DS_Store
Desktop.ini
._*
Thumbs.db
.Spotlight-V100
.Trashes
.sass-cache
/public/frontend/css/main.*.css
/public/frontend/css/theme*.css
/public/assets/css/*.*.css
/public/assets/js/*.*.js
/public/frontend/js/*.*.js
/public/presentation/css
