/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
/bootstrap
npm-debug.log
yarn-error.log
Homestead.json
Homestead.yaml
.env
.DS_Store
Desktop.ini
._*
Thumbs.db
.Spotlight-V100
.Trashes
.sass-cache
/public/frontend/fonts/webfonts/*.*
/public/frontend/css/main.*.css
/public/frontend/css/theme*.css
/public/assets/css/*.*.css
/public/assets/css/*.*.css.map
/public/assets/js/*.*.js
/public/assets/js/*.*.js.map
/public/frontend/js/*.*.js
/public/frontend/js/*.*.js.map
/public/presentation/css
/public/mix-manifest.json
