.gradle
.gradle/*
/local.properties
/.idea/workspace.xml
*.idea/
.idea/
.idea/*
.DS_Store
/build
.idea/
*iml
*.iml
*/build
/app/app.iml
fastlane
local.properties
!/oppwa.mobile-2.2.0/oppwa.mobile-2.2.0.iml