.btn {
    font-size: 15px;
    @extend .text-uppercase;
    font-family: $base-font-family;
    @extend .font-weight-bold;
}

.btn-primary,
.btn-success,
.btn-danger,
.btn-warning {
    @include button-variant($white, transparent, transparent);
}

.btn-primary,
.btn-success,
.btn-danger,
.btn-warning,
.btn-secondary {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25) !important;
    @extend .border-0;

    &:hover,
    &:focus,
    &:active {
        opacity: 0.8;
        box-shadow: inherit;
    }
}

.btn-secondary {
    @include button-variant($ls-color-black, $white, transparent);
}

.btn-primary {
    @include gradient-directional($ls-color-blue--gradient, $ls-color-blue--light-gradient, 90deg);
}

.btn-success {
    @include gradient-directional($ls-color-green--gradient, $ls-color-green--light-gradient, 270deg);
}

.btn-danger {
    @include gradient-directional(darken($ls-color-red, 20%), $ls-color-red, 90deg);
}

.btn-warning {
    @include gradient-directional(darken($ls-color-yellow, 20%), $ls-color-yellow, 90deg);
}

.btn-outline {
    background-color: transparent;
    color: $theme-color-primary;
    border-color: $theme-color-primary;
    @extend .text-uppercase;
    @extend .font-weight-bold;

    &:hover {
        background-color: $theme-color-primary;
        color: $white;
    }
}

.btn.disabled, .btn:disabled {
    cursor: not-allowed;
    opacity: .35;
    box-shadow: none;
}