.form-group {
    @at-root {
        label {
            font-size: $font-size-base * 1.125;
            color: $theme-color-primary;
            line-height: $theme-input-line-height;
            @extend .text-uppercase;
            @extend .font-weight-bold;
        }
    }
}

@at-root {
    .input-group-addon {
        border-color: $theme-input-border-color;
    }
}

@at-root {
    .form-control {
        box-shadow: none;
        border-color: $theme-input-border-color;
        font-size: $font-size-base * 1.125;
        padding: $theme-input-padding-y $theme-input-padding-x;
        font-family: $base-font-family;

        &::-webkit-input-placeholder {
            color: $input-color;
        }

        &::-moz-placeholder {
            color: $input-color;
        }

        &:-ms-input-placeholder {
            color: $input-color;
        }

        &:-moz-placeholder {
            color: $input-color;
        }

        &:focus {
            &::-webkit-input-placeholder {
                color: transparent;
            }

            &::-moz-placeholder {
                color: transparent;
            }

            &:-ms-input-placeholder {
                color: transparent;
            }

            &:-moz-placeholder {
                color: transparent;
            }
        }
    }
}