.header,
.site-header {
    @include gradient-directional(lighten($ls-color-blue--light-gradient, 45%), $white, 90deg);
    z-index: 10;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 7px 0 rgba(0, 0, 0, 0.06), 0 3px 1px -1px rgba(0, 0, 0, 0.14);
    position: fixed;

    p,
    a {
        color: $theme-color-primary;
        @extend .font-weight-bold;
    }

    .header-list {
        li {
            font-family: $base-font-family;

            a {
                @extend .mr-3;
                font-size: 0.9375rem;

                i {
                    @extend .ml-1;
                }
            }

            &:last-child {
                a {
                    @extend .mr-0;
                }
            }
        }
    }
}