.tabs-primary {
    .nav-tabs {
        // border-bottom-color: $theme-color-primary;
        border-bottom-color: #0078ab;
        border-bottom-width: 2px;
        @include media-breakpoint-down(xs) {
            display: block;
        }

        .nav-item {
            // margin-right: 2px;

            @include media-breakpoint-down(xs) {
                margin-right: 0;
                margin-bottom: 2px !important;
            }

            @extend .mb-0;
            @extend .font-weight-bold;

            .nav-link {
                font-size: 13px;
                color: $theme-color-primary;
                border-top-right-radius: 0.25rem;
                border-top-left-radius: 0.25rem;
                // background: lighten($ls-color-blue--light-gradient, 40%);
                @extend .text-uppercase;
                // @extend .border-0;
                border-bottom: none;
                margin-right: 5px;
                margin-bottom: 0px;
                &.active,
                &:hover {
                    // @include gradient-directional($ls-color-blue--gradient, $ls-color-blue--light-gradient, 90deg);
                    // color: $white;

                    .wrapper-tab {
                        @include gradient-directional($ls-color-blue--gradient, $ls-color-blue--light-gradient, 90deg);
                        color: $white;

                        .text-tooltip {
                            color: $white;
                        }
                        border-radius: 0;
                        background-color: #ccf0ff;
                    }
                }

                .icon-football-block {
                    padding: 2px 4px;
                }
            }
        }
    }
}