.grid-round-wrapper {
    overflow-x: auto;
    width: 100%;
    .grid-round {
        display: flex;
        padding: 10px;
        font-size: 12px;
        min-width: 100%;
        float: left;
        justify-content: center;
        line-height: 1.5;
        // overflow-x: scroll;

        .grid-division {
            float: left;
            flex: none;

            .division-block {
                clear: both;
            }
        }

        .col-round {
            // float: left;
            // flex: none;

            .round-img-wrapper {
                width: 100px;
                margin: 0 auto;
                display: block;
                position: relative;

                .round-number {
                    position: absolute;
                    right: 22px;
                    color: #fff;
                    top: 7px;
                }
            }

            .round-details-wrapper {
                margin: 10px 5px;
                padding: 15px;
                box-shadow: 1px 1px 17px 1px rgba(0, 0, 0, 0.50);

                h6 {
                    font-size: 13px;
                }
                
                .row-round {
                    overflow: auto;
                    display: flex;

                    .bordered-box {
                        float: left;
                        margin-right: 10px;

                        &:last-child {
                            margin-right: 0;
                            border-right: 1px solid #000 !important;
                        }

                        &+.bordered-box {
                            margin-right: 0;
                            border-right: 0;
                        }

                        .team-scores {
                            position: relative;
                            .circle-badge {
                                font-size: 8px;
                                &.left-input {
                                    left: -10px;
                                }
                                &.right-input {
                                    right: -10px;
                                }
                            }
                        }
                    }

                    &:last-child {
                        .bordered-box {
                            margin-bottom: 0;
                        }
                    }
                }

                .bordered-box {
                    border: 1px solid #000;
                    padding: 2px;
                    text-align: center;
                    margin: 5px 0;
                    width: 100px;

                    &:first-child{
                        width: 150px;
                    }

                    span {
                        font-size: 12px;
                        &.small {
                            display: block;
                        }
                        &.team-scores {
                            display: inline-block;
                        }
                    }

                    &.position-wrapper {
                        width: auto;
                        border-right: 1px solid #000;
                    }
                }

                .group-column {
                    float: left;
                    flex: none;
                    margin: 0px 0px;
                    h6 {
                        border: 1px solid #000;
                        padding: 5px 2px;
                        text-align: center;
                    }
                    &+.group-column {
                        margin-left: 10px;
                    }
                    .bordered-box {
                        float: none;
                        margin: 0;
                        border-right: 1px solid #000 !important;
                        border-top: none;
                    }
                }
            }
        }
    }
}