.custom_radio_btn {
    margin-bottom: $spacer * 2.5;
    label {
        font-size: $font-size-sm;
    }
    .radio {
        padding-left: $list-inline-padding;
        @include media-breakpoint-down(xs) {
            padding-left: ($list-inline-padding / 2);
        }
        @include media-breakpoint-only(md) {
            padding-left: ($list-inline-padding / 2);
        }
        @include media-breakpoint-only(lg) {
            padding-left: ($list-inline-padding / 2);
        }
        input[type="radio"] {
            opacity: 0;
            &:focus+label::before {
                outline: none;
            }
            &:checked+label::after {
                -webkit-transform: scale(1, 1);
                -ms-transform: scale(1, 1);
                -o-transform: scale(1, 1);
                transform: scale(1, 1);
            }
        }
        label {
            position: relative;
            padding-left: $table-cell-padding-sm;
            @include media-breakpoint-down(xs) {
                padding-left: ($list-inline-padding / 2);
            }
            @include media-breakpoint-only(md) {
                padding-left: ($list-inline-padding / 2);
            }
            @include media-breakpoint-only(lg) {
                padding-left: ($list-inline-padding / 2);
            }
            cursor:pointer;
            &:before {
                content: "";
                position: absolute;
                width: 20px;
                height: 20px;
                left: 0;
                margin-left: -20px;
                border: 1px solid $gray-400;
                border-radius: $custom-radio-indicator-border-radius;
                background-color: $white;
                -webkit-transition: border 0.15s ease-in-out;
                -o-transition: border 0.15s ease-in-out;
                transition: border 0.15s ease-in-out;
                margin-top: ($spacer/3);
            }
            &:after {
                position: absolute;
                content: " ";
                width: 12px;
                height: 12px;
                left: 4px;
                top: 4px;
                margin-left: -20px;
                margin-top: ($spacer/3);
                border-radius: $custom-radio-indicator-border-radius;
                background-color: theme-color('primary');
                -webkit-transform: scale(0, 0);
                -ms-transform: scale(0, 0);
                -o-transform: scale(0, 0);
                transform: scale(0, 0);
                -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
                -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
                -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
                transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
            }
        }
    }
}