//
// Grid
// --------------------------------------------------

// Tiny grid gutters
.row.gutters-tiny {
    margin-right: (-($space-row-gutter-tiny / 2));
    margin-left: (-($space-row-gutter-tiny / 2));

    > .col,
    > [class*="col-"] {
        padding-left: ($space-row-gutter-tiny / 2);
        padding-right: ($space-row-gutter-tiny / 2);
    }

    .push,
    .block {
        margin-bottom: $space-row-gutter-tiny;
    }
}

// Equal height of elements inside columns
.row.row-deck > div {
    display: flex;
    align-items: stretch;

    > div {
        min-width: 100%;
    }
}

.row {
    &.no-gutters {
        margin-right: 0;
        margin-left: 0;

        > .grid,
        > [class*="grid-"] {
          padding-right: 0;
          padding-left: 0;
        }
    }
}

.grid-22,
.grid-full {
    position: relative;
    width: 100%;
    min-height: 1px; // Prevent columns from collapsing when empty
    padding-right: ($grid-gutter-width / 2);
    padding-left: ($grid-gutter-width / 2);
}
.grid-22 {
    flex: 0 0 $club-logo;
    max-width: $club-logo;
}
.grid-full {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.grid-22,
.grid-full {
    @include media-breakpoint-down(md) {
        flex: 0 0 100%;
        max-width: 100%;
    }
}