.age-category {
    position: sticky;
    z-index: 8;

    .age-category-grid {
        display: grid;
        grid-template-columns: repeat(6, minmax(0, 1fr));
        gap: 0.75rem;

        .draggable-item {
            padding: 2px 4px;
            margin: 2px 0;
            font-size: 12px;
            display: flex;
            align-items: center;

            .draggable-handle {
                margin-right: 4px;
                display: inline-flex;
                align-items: center;
                cursor: pointer;

                svg {
                    width: 8px;
                    height: auto;
                }
            }
        }
    }
}
