.draggable {
	&--section {
		&-card {
			position: relative;
			display: flex;
			flex-direction: column;
			background-color: $ls-color-gray--light;
			border: $card-border-width solid $card-border-color;
			@include border-radius($card-border-radius);
			margin-bottom: 1rem !important;
			// &:not(:last-child) {
			// 	@extend .mb-2;
			// }
			&.sortable-chosen {
				border: $card-border-width solid $brand-primary;
				-webkit-box-shadow: 0px 0px 11px 1px rgba($brand-primary,0.3);
				-moz-box-shadow: 0px 0px 11px 1px rgba($brand-primary,0.3);
				box-shadow: 0px 0px 11px 1px rgba($brand-primary,0.3);
			}
			&-header {
				padding: $card-spacer-y $card-spacer-x;
			  	margin-bottom: 0; // Removes the default margin-bottom of <hN>
			  	// background-color: $card-cap-bg;
			  	display: flex;
			  	flex-direction: column;
			  	&-panel {
			  		display: flex;
			  		align-items: center;
				  	justify-content: space-between;
				  	flex-wrap: nowrap;
				  	min-height: 30px;
				  	.thumb {
				  		$thumb-width: 30px;
				  		height: $thumb-width;
				  		width: $thumb-width;
				  		margin-right: $card-spacer-x;
				  		display: flex;
				  		align-items: center;
				  		justify-content: center;
				  		img {
				  			max-height: $thumb-width;
				  			max-width: $thumb-width;
				  		}
				  	}
				  	.flag {
				  		max-height: 30px;
				  		max-width: 100%;
				  		margin-left: $card-spacer-x;
				  	}
				  	.draggable-handle {
				  		cursor: all-scroll;
				  	}
				  	&-text-area {
				  		display: flex;
			  			flex-direction: column;
				  	}
			  	}
			  	&-icons {
			  		min-width: 80px;
				    display: flex;
				    justify-content: flex-end;
				    align-items: center;
				    > a {
				    	&:not(:last-child) {
				    		margin-right: 10px;
				    	}
				    }
				    .copy-link {
				    	margin-right: 10px;
				    }
			  	}
			  	.draggable--section {
			  		margin-top: $card-spacer-y;
			  	}
			}
		}
		&-child-1 {
			.draggable--section-card {
				background-color: $white;
			}
		}
		&-child-2 {
			.draggable--section-card {
				background-color: $ls-color-gray--light;
			}
		}
	}
}

.pitch_capacity_table .draggable-handle
{
	cursor: all-scroll;
}