.btn {
    &.btn-pressable:active {
        transform: translate(0px, 3px);
        -webkit-transform: translate(0px, 3px);
    }

    font-family: $base-font-family;
    cursor: pointer;
}

// .btn {
//     font-size: 15px;
// }
// Disable Outline on focus
.btn:focus,
.btn.focus,
.btn:active:focus,
.btn:active.focus,
.btn.active:focus,
.btn.active.focus {
    outline: none;
}

.btn-default {
    border: 1px solid $ls-color-gray--dark;
    background-color: $white;

    &:hover,
    &:active,
    &:focus {
        background-color: $ls-color-gray--light;
    }
}

.btn-outline-default {
    border: 1px solid $ls-color-gray--dark;
    background-color: $white;

    &:hover,
    &:active,
    &:focus {
        background-color: $ls-color-gray--light;
    }
}

.btn-theme {
    @include button-variant($white, $ls-color-primary, $ls-color-primary);
}

.btn-outline-theme {
    @include button-outline-variant($ls-color-primary);
}

// Rounded Button
.btn-rounded {
    border-radius: 20px;
}

.btn i {
    width: 1.2em;
    text-align: left;
}

.btn-icon {
    padding: 0.6rem;
    line-height: 1em;
    i {
        text-align: center;
    }
}

// Sizes
// .btn-xs {
//     font-size: 12px;
//     padding: 3px 10px;
// }
.btn-full {
    width: 100%;
}

// Extra
.ladda-button {
    overflow: visible !important;
}


// Preview Button
.generate-preview-btn {
    &.tooltip {
        border-radius: 50%;
        position: fixed;
        right: 10px;
        bottom: 30px;
        z-index: 1000;
        font-size: $font-size-base * 1.25;
        opacity: 1;
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
        &:hover {
            box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
        }
        .tooltiptext {
            visibility: hidden;
            width: 150px;
            background-color: $black;
            color: $white;
            border-radius: 6px;
            padding: 5px 0;
            position: absolute;
            z-index: 1;
            top: 15%;
            right: 115%;
            font-size: $font-size-sm;
            &:after {
                content: "";
                position: absolute;
                top: 50%;
                left: 100%;
                margin-top: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: transparent transparent transparent $black;
            }
        }
        &:hover {
            .tooltiptext {
                visibility: visible;
            }
        }
    }
}

.btn-group-agecategory {
    > div {
        padding:0 5px;
        .btn {
            width: 180px;
            padding: $btn-padding-y;
        }
    }
}