//
//  Dev.xcconfig
//  ESR
//
//  Created by Pratik Patel on 17/08/18.
//
#include "Pods/Target Support Files/Pods-ESR/Pods-ESR.debug.xcconfig"
base_url = http:/$()/usama-eurosport.dev.aecortech.com/api/
// Base URL
// base_url = http:/$()/shreya-wot.dev.aecortech.com/api/
// base_url = http:/$()/sunny-eurosport.dev.aecortech.com/api/
google_map_key = AIzaSyB08HUVE_MXST_bfJEx8r_OeqagtM4z6Kc

