.match-pagination-list {
    ul {
        text-align: center;
        padding: 0;
        line-height: initial;
        li {
            @extend .d-inline-block;
            border-left: 1px solid theme-color('primary');
            color: theme-color('primary');
            &:hover,
            &.active {
                background-color: theme-color('primary');
                a {
                    &:not([href]):not([tabindex]) {
                        color: $white;
                    }
                }
            }
            &.left-arrow,
            &.right-arrow {
                border-radius: $border-radius * 8;
                border: 1px solid theme-color('primary');
                width: 120px;
            }
            &.left-arrow {
                margin-right: $spacer;
                text-transform: uppercase;
                a:after {
                    content: 'Previous';
                    padding-left: $h7-font-size;
                }
            }
            &.right-arrow {
                margin-left: $spacer;
                text-transform: uppercase;
                a:before {
                    content: 'Next';
                    padding-right: $h7-font-size;
                }
            }
            &.number,
            &.ellipses {
                border-top: 1px solid theme-color('primary');
                border-bottom: 1px solid theme-color('primary');
            }
            &:nth-child(2) {
                border-top-left-radius: $border-radius * 8;
                border-bottom-left-radius: $border-radius * 8;
                a {
                    padding-left: $h3-font-size;
                }
            }
            &:nth-last-child(2) {
                border-top-right-radius: $border-radius * 8;
                border-bottom-right-radius: $border-radius * 8;
                border-right: 1px solid theme-color('primary');
                a {
                    padding-right: $h3-font-size;
                }
            }
            a {
                cursor: pointer;
                @extend .d-block;
                font-size: $h7-font-size;
                font-weight: $font-weight-bold;
                padding: $h8-font-size $h7-font-size;
                &:not([href]):not([tabindex]) {
                    color: theme-color('primary');
                }
            }
        }
    }
}