.tournament-list {
    ul {
        li {
            color: $gray-900;
            font-size: $font-size-sm;
        }
    }
    .btn-more {
        border: 1px solid theme-color('primary');
        width: 87px;
        border-radius: $border-radius * 4;
        text-align: center;
        padding: $input-btn-padding-y-sm;
    }
}