@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .hero__wrapper .hero__wrapper-banner img {
        height: auto;
    }
    .ie-block,
    footer .organiser_logo_footer,
    .ekko-lightbox {
        display: block !important;
    }
    .ie-inline-block {
    	display: inline-block;
    }
    .ie-mx-auto {
        margin: 0 auto;
    }
    .tounament-data-table table,
    .tounament-data-table th,
    .tounament-data-table tr,
    .tounament-data-table td{
        border: hidden !important;
    }
}

/*==============For Edge===============*/

@supports (-ms-ime-align: auto) {
    .tounament-data-table table,
    .tounament-data-table th,
    .tounament-data-table tr,
    .tounament-data-table td{
        border: hidden !important;
    }
}