@import 'components/colors';
.section-head {
    margin-bottom: 40px;
    border-bottom: 2px solid #FFDE00;
    display: inline-block;
    line-height: 50px;
    padding: 0 20px;
}

.section-hero-area h1 {
    margin-bottom: 30px;
}

.section-hero-area {
    position: relative;
    padding-top: 100px;
}

.fc-time-grid .fc-slats td {
    // height: 20px;
}

.fc-time-grid {
    &-event {
        .fc-time,
        .fc-title {
            font-size: 0.95em;
            line-height: 0.85em;
            padding-top: 0.15em;
        }
    }
    .fc-slats td {
        height: 0.85em;
        line-height: 0.85em;
        span {
            font-size: 0.8em;
            line-height: 0.85em;
            font-weight: 800;
        }
    }
}

.fc-unthemed th {
    font-weight: 800;
}

.tab-content.planner_list_content {
    margin-top: 0px;
}

.fc-resource-cell {
    font-size: 0.85em;
}

#game-list {
    top: -17px;
}


.fc-cell-text {
    font-size: 0.85em;
    line-height: 0.85;
}

.fc-no-overlap {
    .fc-body .fc-resource-area .fc-cell-content {
        padding-top: 0px;
        padding-bottom: 0px;
        line-height: 22px;
        font-weight: 800;
    }
    .fc-timeline-event {
        padding: 0;
    }
}

.planner_list_content .dashbox {
    padding: 10px;
    margin-bottom: 10px;
    text-align: left;
    cursor: pointer;
    font-size: 12.75px;
}

select.form-control {
    padding: $btn-padding-y $btn-padding-x;
    &:not([size]):not([multiple]) {
        background-color: #ffffff !important;
        background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 100% 50%;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
    }
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: transparent !important;
    border-style: solid;
    border-width: 0 !important;
    margin-left: 0;
    margin-top: 0;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 35px;
    height: 35px;
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat;
}

#test tbody>tr {
    &:nth-of-type(3n+1) {
        background: #FFFF00;
    }
    &:nth-of-type(3n+2) {
        background: #B2A1C7;
    }
    &:nth-of-type(3n+3) {
        background: #BFBFBF;
    }
    &:last-child {
        background: $white;
    }
}

table#Competition-modal-table {
    tbody.competition-modal-table-body {

        tr {
            &:hover {
                background-color: transparent;
            }
            td.p-0 {
                border-right: 1px solid $table-border-color;
                &:first-child {
                    border-right: 0px;
                }
                tr.group-name {
                    border-bottom: 1px solid $table-border-color;
                }
                tr.grp-data {
                    border-bottom: 0px;
                    td.a1 {
                        padding: 0;
                        tr.a2 {
                            td {
                                border-left: 1px solid $table-border-color;
                                border-right: 1px solid $table-border-color;
                                border-bottom: 1px solid $table-border-color;
                            }
                            &:first-child {
                                td {
                                    border-top: 1px solid $table-border-color;
                                }
                            }
                        }
                    }
                }
                tr {
                    display: inline-table;
                    width: 100%;
                    td {
                        border: 0;
                        border-color: #ffffff;
                        vertical-align: top;
                    }
                }
            }
        }
    }
}

.fc button.close {
    @extend .close;
}

#game-list,
#referee-list {
    height: 400px;
}

#outerGame {
    margin-bottom: 100px
}

/*.pitch_planner_section {
  height: 1200px;
}
*/

.card {
    margin-bottom: 2.5rem;
}

.bg-grey {
    background-color: grey;
    border: 1px solid grey;
}

.bg-light-grey {
    background-color: color("grey", "lighten-5");
}

.bg-modal-color {
    background-color: rgba($ls-color-black, 0.6)
}

.fc-referee {
    background-color: white;
    color: black;
    padding: 1px 2px;
    font-size: 0.95em;
    line-height: 0.85;
    border-radius: 3px;
}

.referee_-1,
.referee_-2,
.referee_0 {
    display: none;
}

.stageInvisible {
    display: none;
}

.m-h-214 {
    @include media-breakpoint-up(md) {
        min-height: 214px;
    }
}

.fc-event-container .fc-time-grid-event {
    width: 100%;
}

.fc-ltr .fc-time-grid .fc-event-container {
    margin: 0 1px 0 1px;
}

.multiselect__tag {
    background-color: #2196F3;
}

.multiselect__option--highlight,
.multiselect__option--highlight:after {
    background-color: #2196F3;
    background: #2196F3;
}

#pitchPlanner {
    min-height: 550px;
}

.fc-button {
    display: none;
}

.pitchCapacityNotice {
    color: red
}

.paginate-links {
    display: flex; // 1-2: Disable browser default list styles
    justify-content: flex-end;
    padding-left: 0; // 1
    list-style: none; // 2
    @include border-radius();
    li {
        &:first-child {
            a {
                margin-left: 0;
                @include border-left-radius($border-radius);
            }
        }
        &:last-child {
            a {
                @include border-right-radius($border-radius);
            }
        }
        a {
            cursor: pointer;
        }

        &.active a {
            z-index: 2;
            color: $pagination-active-color;
            background-color: $pagination-active-bg;
            border-color: $pagination-active-border;
        }

        &.disabled a {
            color: $pagination-disabled-color;
            pointer-events: none;
            cursor: $cursor-disabled; // While `pointer-events: none` removes the cursor in modern browsers, we provide a disabled cursor as a fallback.
            background-color: $pagination-disabled-bg;
            border-color: $pagination-disabled-border;
        }
        a {
            position: relative;
            display: block;
            padding: $pagination-padding-y $pagination-padding-x;
            margin-left: -1px;
            line-height: $pagination-line-height;
            color: $pagination-color;
            background-color: $pagination-bg;
            border: $pagination-border-width solid $pagination-border-color;

            @include hover-focus {
                color: $pagination-hover-color;
                text-decoration: none;
                background-color: $pagination-hover-bg;
                border-color: $pagination-hover-border;
            }
        }
    }
}

#profile_image_file {
    text-align: left;
    font-size: 15px;
    line-height: 1.5;
}

#matchSchedule {
    font-size: 85%;
    tbody {
        td {
            vertical-align: middle;
        }
    }
}

.btn-color-black--light {
    color: $ls-color-black--light;
}

.display-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.padding-right-zero {
    padding-right: 0;
}

.msg-history-add-msg {
    margin-bottom: $card-spacer-x
}

.margin-top-15 {
    margin-top: 15px;
}

.padding-zero {
    padding: 0px;
}

.page-dropdown {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 10%;
    flex: 0 0 10%;
    max-width: 10%;
}


.team-edit-section .btn-group[role="group"] input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0
}

#frmTeamAssign {
    .table {
        th,
        td {
            vertical-align: middle;
        }
        thead {
            tr {
                th {
                    &:nth-child(2) {
                        max-width: 200px
                    }
                }
            }
        }
        tbody {
            tr {
                td {
                    &:nth-child(2) {
                        max-width: 200px
                    }
                }
            }
        }
    }
}

.planner_list_content .dashbox.unscheduled-match-content {
    position: relative;
    padding-right: 1.5rem !important;
}

.unscheduled-match-content-strip {
    position: absolute;
    right: 0;
    width: 15px;
    top: 0px;
    height: 100%;
}

.scheduled-match-content {
    height: 100%;
    position: relative;
    padding-right: 1.5rem !important;
}

.scheduled-match-content-strip {
    position: absolute;
    right: 0;
    width: 15px;
    top: 0px;
    height: 100%;
}

.fc-unthemed td.fc-today {
    background: #ffffff;
}


input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    cursor: pointer;
    display: block;
    position: relative;
    padding: 0.5rem 0.75rem;
    height: 18px;
}

input[type=number]:hover::-webkit-inner-spin-button {
    background: #fff url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 100% 50%;
    position: relative;
    right: -10px;
}

input[type=number] {
    padding-left: 1rem !important;
}

.pitch-planner-item .fc-event,
.planner_list_content .dashbox.unscheduled-match-content,
.planner_list_content .raferee_details {
    border-radius: 0px;
}

.loader {
    position: fixed;
    z-index: 99999;
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.loader .circular {
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
    height: 50px;
    width: 50px;
}

.loader .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
    stroke: #2196F3;
}

@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124;
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124;
    }
}

.modal-backdrop.show {
    background-color: rgba(0, 0, 0, 0.7);
}

.icon-size-1-2 {
    font-size: 1.2em;
}

.button.is-loading {
    color: transparent !important;
    pointer-events: none;
    position: relative;
}

.button.is-loading:after {
    -webkit-animation: spinAround 500ms infinite linear;
    animation: spinAround 500ms infinite linear;
    border: 2px solid #dbdbdb;
    border-radius: 290486px;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: 1em;
    position: relative;
    width: 1em;
    position: absolute;
    left: calc(50% - (1em / 2));
    top: calc(50% - (1em / 2));
    position: absolute !important;
}

@-webkit-keyframes spinAround {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes spinAround {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.warning-box {
    border-color: $brand-danger;
    position: relative;
}

.colorpicker {
    z-index: 99999;
}

//Styles added to show Horizontal Scroll Bar
.fc-view-container {
    width: auto;
}

.fc-view-container .fc-view {
    overflow-x: scroll;
}

/*.fc-view-container .fc-view>table {
    width: 760px;
}

.fc-view-container .fc-view.fc-timelineDay-view>table {
    width: 760px !important;
}*/

.fc-view-container .fc-view.fc-timelineDay-view {
    overflow-x: hidden;
}

label.error {
    color: #ff3860;
}

/*.fc-event {
  border: none;
}*/

.fc-time-grid-event .fc-content {
    padding: 1px;
}

.custom-d-flex {
    display: flex;
}

.badge-custom {
    position: absolute;
    right: 10px;
    top: 5px;
    z-index: 99;
    padding: 7px;
    border-radius: 50%;
    color: red;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .1);
    -webkit-box-shadow: 7px 10px 21px -13px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 7px 10px 21px -13px rgba(0, 0, 0, 0.29);
    box-shadow: 3px 7px 14px -7px rgba(0, 0, 0, 0.39);
    display: none;
}

.multiselect__tags {
    padding: $btn-padding-y $btn-padding-y*2;
    .multiselect__input,
    .multiselect__single {
        margin-bottom: 0;
        padding: 0;
        width: auto;
    }
}

.multiselect,
.multiselect__input,
.multiselect__single {
    font-size: 15px;
}

.form-control[disabled="disabled"] {
    opacity: 0.6;
}

.margin-right-0 {
    margin-right: 0px;
}

.summary-matches-filter.form-inline .form-group.margin-right-0, .summary-matches-filter.form-inline label.control-label.margin-right-0 {
    margin-right: 0px;    
}

.pitch-filter-form.form-inline {
    .form-group {
        &:last-child {
            margin-right: 0;
        }
    }
    .m-w-130 {
        min-width: 130px;
    }
}

.enlarge-div {
    background: #FFF;
    height: 100%;

    .card {
        margin-bottom: 1.5rem;
    }
}

.enlarge-page-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
}

img {
    pointer-events: none;
}

.report-table th, .report-table td {
    white-space: nowrap;
}

.display_table {
        display: table;
}

.report-table.display_block th{
    min-width: 100px;
}

textarea.form-control[disabled="disabled"] {
    background: #fff;
}

li.select2-results__option {
    &[id*="age"] {
        font-weight: bold;
    }
    &[id*="group"] {
        &:before {
            content: '-';
            padding-left: 10px;
            padding-right: 5px;
        }
    }   
}