@mixin roundedCorners($size) {
    -webkit-border-radius: $size + px;
    -moz-border-radius: $size + px;
    border-radius: $size + px;
}


/******** Usage ********

.class {
    @include roundedCorners(10);
}

***********************/