<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>917770932765-f127do5uhl9p4lt0qkt37tpt3q84qsgn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.917770932765-f127do5uhl9p4lt0qkt37tpt3q84qsgn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>917770932765-sb9rlsgnghj8pt2sgfl27qbkm777hjh7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAnUrXT9J5tvmm_FdUOkiFDAWakIVuaSus</string>
	<key>GCM_SENDER_ID</key>
	<string>917770932765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aecordigital.eurosporting</string>
	<key>PROJECT_ID</key>
	<string>eurosportsandroid</string>
	<key>STORAGE_BUCKET</key>
	<string>eurosportsandroid.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:917770932765:ios:05e9a6e10a55f83a</string>
	<key>DATABASE_URL</key>
	<string>https://eurosportsandroid.firebaseio.com</string>
</dict>
</plist>