<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>526117351139-lngfgd49ntgnpr1gvbsdvk7r4fslkg47.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.526117351139-lngfgd49ntgnpr1gvbsdvk7r4fslkg47</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>526117351139-cqp48j5lvose1j3se5fileuhor687g76.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC99FJ25VHII9r2aFpPOrE01XQ5TMRN3e0</string>
	<key>GCM_SENDER_ID</key>
	<string>526117351139</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aecor.eurosports.easymatchmanager</string>
	<key>PROJECT_ID</key>
	<string>esr-emm</string>
	<key>STORAGE_BUCKET</key>
	<string>esr-emm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:526117351139:ios:f8878f83ca07010c52dfd6</string>
</dict>
</plist>