.commercialisation {
    .tabs-primary {
        // .card-block {
        //     h6 {
        //         strong {
        //             display: block;
        //             font-size: $theme-page-header;
        //         }
        //     }
        // }
        // 
        .fieldset-title{
        	font-size: $theme-page-header;
        	@extend .text-uppercase;
        	padding-bottom: 1.2rem;
        	border-bottom: 1px solid $theme-color-primary;
        }

        .grey_bg {
            background-color: #F5F8FA;
        }

	    #profile_image_file,#referee_upload_file{
	    	@extend .font-weight-normal;
	    	text-transform: initial !important;	
	    }
    }
}