// Login Section, Confirmation Section, Register Section

.login-section,
.confirmation-section,
.register-section {
    background: $white;

    p,label {
        a {
            color: $theme-color-primary;
            text-decoration: underline;
        }
    }
}

// Manage Tournament Section

.manage-tournament {
    background: $white;

    .card {
        background: #F5F8FA;

        .h7 {
            color: $theme-color-primary;
        }

        ul {
            li {
                img {
                    vertical-align: baseline;
                }
            }

            &.tournament-information {

                li,
                a {
                    color: $theme-color-primary;
                }

                a {
                    text-decoration: underline;
                }
            }
        }

        .btn-group {
            .btn-link {
                color: $theme-color-primary;

                &:hover {
                    text-decoration: none;
                    border: 1px solid $theme-color-primary;
                }
            }

            .btn-outline {
                &:hover {
                    border-color: $theme-color-primary;
                    background-color: transparent;
                    color: $theme-color-primary;
                }
            }

            img {
                margin-right: 10px;
                vertical-align: baseline;
                width: 10px;
            }
        }
    }
}

// Tournament Section

.tournament-section {
    background: $white;

    .sponsored-list {
        img {
            width: 80px;
        }
    }

    .tournament-image {
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
    }

    .bordered-div {
        &:before {
            content: '';
            @extend .position-absolute;
            border-left: 1px solid $theme-color-primary;
            left: -40px;
            @extend .h-100;

            @include media-breakpoint-down(lg) {
                display: none;
            }
        }
    }

    .app-code {
        border: 2px dashed $base-font-color;

        @include media-breakpoint-down(lg) {
            width: 50%;
        }

        h3 {
            color: $theme-color-dark-gray;
            letter-spacing: 10px;
            margin-right: -10px !important;
        }
    }

    .get-app {
        img {
            width: 130px;
        }
    }
}

.buy-license-section {
    background: $white;
}

.main-section {
    padding-top: 63px;
    // margin-top: 63px;
    background-color: #fff;
    min-height: calc(100vh - 291px);

    .card {
        @extend .border-0;
    }

    .form-group {
        @extend .mb-4;
    }

    .btn {
        height: 40px;
    }

    .tab-content {
        .btn {
            height: auto;
        }

        .custom-table {
            a {
                text-decoration: underline;
            }
        }
    }
}

.popup-access-code {
    border: 2px dashed $base-font-color;
    margin-top: 40px;
    cursor: pointer;
}

.schedule-results {
    background-color: #f5f8fa;
}

.view-full-information {
    padding: 0.75rem;
    background: rgba(255, 235, 59, 0.1);
    margin-bottom: 2.5rem;
}

.login-section,
.thank-you {
    background: url('/images/polygon-background.svg');
    background-position: 102% 56%;
}

.buy-license-section {
    .card {
        &.shaded-card {
            background: url('/images/polygon-background.svg');
            background-position: 63% 20%;
            position: sticky;
            top: 150px;
        }
    }
}

.confirmation-section {
    .img-device {
        img {
            width: 200px;
        }
    }

    .get-app {
        img {
            width: 130px;
        }
    }
}