.section-divider {
    border-top: 1px solid $text-muted;
}

.section-padding {
    padding: 80px 0;
}

.block-component {
    background-color: $white;
}

body {
    font-size: $font-size-base;
}

.divider {
    border-top: 1px solid $theme-color-primary;

    &.opacited {
        opacity: 0.25;
    }
}
