.custom-alert {
    top: $form-check-input-gutter;
    right: $form-check-input-gutter;
    z-index: 1;
    min-width: 250px;
    max-width: 370px;
    font-size: $h6-font-size;
    line-height: $line-height-base;
    .close {
        right: $spacer / 2;
        opacity: 1;
        &:hover,
        &:focus {
            color: $white;
            outline: none;
        }
    }
}