.custom_select_box {
    position: relative;
    max-width: 100%;
    z-index: 1;
    background-image: -webkit-gradient(linear, left top, left bottom, from($gray-100), to($gray-200));
    background-image: linear-gradient(-180deg, $gray-100 0%, $gray-200 100%);
    border: $border-width solid $gray-400;
    border-radius: $border-radius-lg;
    line-height: $spacer * 2.6;
    @include media-breakpoint-down(md) {
        z-index: 0;
    }
    &:focus-within {
        background-image: linear-gradient(180deg, #F0F0F0 0%, #D3D3D3 100%);
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    }
    select {
        outline: none;
        background: transparent;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 100%;
        padding: $custom-select-padding-y ($custom-select-indicator-padding * 3.125) $custom-select-padding-y $custom-select-padding-x;
        font-size: $font-size-sm;
        line-height: $line-height-base-custom;
        cursor: pointer;
        &::-ms-expand {
            display: none;
        }
    }
    &:after {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 50px;
        height: 100%;
        font-family: 'Font Awesome 5 Pro';
        font-weight: $font-weight-bold;
        content: "\f0d7";
        font-size: $font-size-sm;
        border-left: $border-width solid $gray-400;
        z-index: -1;
    }
}