header {
    background: $black;
    height: $header-height;
    @include media-breakpoint-down(sm) {
        height: ($header-height - 20px)
    }
    height: $header-height;
    position: relative;
    display: flex;
    flex-wrap: wrap; // allow us to do the line break for collapsing content
    align-items: center;
    justify-content: space-between; // space out brand from logo
    // few properities so that content nested within behave properly.
    >.container,
    >.container-fluid {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    .img-logo {
        img {
            height: 50px;
            @include media-breakpoint-down(sm) {
                height: 30px;
            }
        }
    }
    .lang-bar {
        position: relative;
        @extend .h7;
        width: 100px ;
        .lang-bar-status {
            position: relative;
            display: inline-flex;
            vertical-align: middle;
            width: 100px;
            span+span {
                margin-left: -$btn-border-width;
            }
            >span {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 1 1 auto;
                height: 25px;
                text-align: center;
                border: $border-width solid $gray-700;
                background-color: $gray-800;
                &:first-child {
                    border-top-left-radius: $font-size-base;
                    border-bottom-left-radius: $font-size-base;
                }
                &:last-child {
                    border-top-right-radius: $font-size-base;
                    border-bottom-right-radius: $font-size-base;
                }
                &:not(:first-child) {
                    border-left: $border-width solid $gray-700;
                }
            }
        }
        .lang-bar-list {
            display: none;
        }
        // &:hover {
        //     .lang-bar-list {
        //         min-width: 100%;
        //         display: block;
        //         position: absolute;
        //         top: 0;
        //         right: 0;
        //         background: $gray-100;
        //         box-shadow: 2px 2px 21px -6px rgba($black, 0.3);
        //         border-radius: 10px;
        //         z-index: 2;
        //         ul {
        //             padding-left: 0;
        //             list-style-type: none;
        //             color: $black;
        //             margin-bottom: 0;
        //             padding: $card-spacer-y 0;
        //             li {
        //                 a {
        //                     padding: $card-spacer-y/2 $card-spacer-x*2;
        //                     position: relative;
        //                     color: $black;
        //                     transition: all 0.1s ease;
        //                     &:hover {
        //                      text-decoration: none;
        //                      opacity: 0.7;
        //                     }
        //                     &.active {
        //                         &:before {
        //                             content: '\f00c';
        //                             font-family: 'Font Awesome 5 Pro';
        //                             font-weight: 900;
        //                             position: absolute;
        //                             left: $font-size-base;
        //                         }
        //                     }
        //                 }
        //             }
        //         }
        //     }
        // }
        &.show {
            .lang-bar-list {
                min-width: 100%;
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                background: $gray-100;
                box-shadow: 2px 2px 21px -6px rgba($black, 0.3);
                border-radius: 10px;
                z-index: 2;
                ul {
                    padding-left: 0;
                    list-style-type: none;
                    color: $black;
                    margin-bottom: 0;
                    padding: $card-spacer-y 0;
                    li {
                        a {
                            padding: $card-spacer-y/3 $card-spacer-x*2;
                            display: block;
                            position: relative;
                            color: $black;
                            &:hover {
                                text-decoration: none;
                                opacity: 0.7;
                            }
                            &.active {
                                background: $blue;
                                color: $white;
                                &:before {
                                    content: '\f00c';
                                    font-family: 'Font Awesome 5 Pro';
                                    font-weight: 900;
                                    position: absolute;
                                    left: $font-size-base;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
