.list-style-type{
	h4{
		color: theme-color('primary');
		font-weight:$font-weight-bold;
	}
	hr{
		background: theme-color('primary');;
	}
	.list-group-item:first-child{
		border-top:0;
	}
	h6{
		&.m-0{
			font-weight:$font-weight-bold;
		}
	}
	.f12{
		font-size:0.75rem;
	}
}