.hero__wrapper {
    &.hero__wrapper-small {
        height: $hero-height/2;
        @include media-breakpoint-down(md) {
            height: ($hero-height-sm);
        }
        .hero__wrapper-banner {
            height: $hero-height/2;
            @include media-breakpoint-down(md) {
                height: ($hero-height-sm);
            }
        }
        .hero__wrapper-overlay {
            .margin-area {
                @include media-breakpoint-up(lg) {
                    margin-bottom: 1.5rem;
                }
            }
            .club_logo {
                @include media-breakpoint-up(lg) {
                    display: flex;
                    justify-content: flex-end;
                }
                .club_logo-box {
                    width: $wrapper-small-club-logo;
                    height: $wrapper-small-club-logo;
                    background: $club-logo-bg;
                    @include media-breakpoint-up(lg) {
                        margin-bottom: 0;
                        box-shadow: none;
                    }
                    img {
                        max-width: $wrapper-small-club-logo - ($club-logo-padding/2);
                        max-height: $wrapper-small-club-logo - ($club-logo-padding/2);
                    }
                }
            }
        }
    }
    position: relative;
    height: $hero-height;
    @include media-breakpoint-down(md) {
        height: ($hero-height-sm);
    }
    .hero__wrapper-banner {
        height: $hero-height;
        @include media-breakpoint-down(md) {
            height: ($hero-height-sm);
        }
        width: 100%;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    .hero__wrapper-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgb(0, 0, 0);
        background: linear-gradient(180deg, rgba($black, 0) 0%, rgba($black, 0.1) 50%, rgba($black, 0.25) 75%, rgba($black, 0.5) 100%);
        >.container,
        >.container-fluid {
            height: 100%;
            @extend .d-flex;
            @extend .flex-column;
            justify-content: flex-end;
            @include media-breakpoint-down(md) {
                align-items: center;
                justify-content: center;
            }
        }
        .club_logo {
            @include media-breakpoint-down(md) {
                flex: 0 0 $club-logo-sm;
                max-width: $club-logo-sm;
                margin-top: 45px;
                margin-bottom: $h7-font-size;
            }
            .club_logo-box {
                width: $club-logo-box;
                height: $club-logo-box;
                @include media-breakpoint-down(md) {
                    // width: $club-logo-box-sm;
                    // height: $club-logo-box-sm;
                    width: $wrapper-small-club-logo;
                    height: $wrapper-small-club-logo;
                }
                display: block;
                margin: 0 auto;
                background: $club-logo-bg;
                @include media-breakpoint-up(lg) {
                    margin-bottom: -30px;
                    box-shadow: 0px 10px 20px 0px rgba($black, .15);
                }
                img {
                    max-width: $club-logo-box - ($club-logo-padding);
                    max-height: $club-logo-box - ($club-logo-padding);
                    @include media-breakpoint-down(md) {
                        // max-width: $club-logo-box-sm - ($club-logo-padding-sm / 2);
                        // max-height: $club-logo-box-sm - ($club-logo-padding-sm / 2);
                        max-width: $wrapper-small-club-logo - ($club-logo-padding/2);
                        max-height: $wrapper-small-club-logo - ($club-logo-padding/2);
                    }
                }
            }
        }
        .club_info {
            color: $white;
            text-shadow: 0 2px 4px rgba($black,.50);
            @include media-breakpoint-down(md) {
                text-align: center;
            }
            .club_info-title {
                font-weight: 700;
                @include media-breakpoint-down(md) {
                    font-size: $h3-font-size;
                    line-height: $h2-line-height;
                    margin-bottom: 0;
                }
            }
            .club_info-detail {
                font-size: $h4-font-size;
                text-shadow: 0 2px 4px rgba($black,0.50);
                @include media-breakpoint-down(md) {
                    font-size: $h6-font-size;
                }
            }
        }
    }
    &-child {
        background-color: theme-color('light');
        .nav {
            $nav-margin-y: 12px;
            min-height: (60px - ($nav-margin-y*2));
            // @include media-breakpoint-up(md) {
            //     height: 60px;
            // }
            @include media-breakpoint-down(md) {
                display: flex;
                flex-direction: column;
                padding: $nav-link-padding-y 0;
            }
            .nav-item {
                @include media-breakpoint-up(lg) {
                    margin-top: $nav-margin-y;
                    margin-bottom: $nav-margin-y;
                }
                .nav-link {
                    text-transform: uppercase;
                    font-size: $h7-font-size;
                    font-weight: 700;
                    padding: $nav-link-padding-y $font-size-base;
                    line-height: 1;
                    display: flex;
                    @include media-breakpoint-up(lg) {
                        flex-direction: row-reverse;
                    }
                    align-items: center;
                    &:hover {
                        opacity: 0.5;
                    }
                    .icon {
                        @include media-breakpoint-down(lg) {
                            margin-right: $h8-font-size;
                        }
                        @include media-breakpoint-up(lg) {
                            margin-left: $h8-font-size;
                        }
                    }
                    i {
                        font-size: $font-size-base * 1.25;
                        // line-height: 1.5;
                    }
                    @include media-breakpoint-only(lg) {
                        font-size: ($font-size-base * 0.68);
                    }
                    &.active, &:active {
                        background-color: rgba(theme-color('primary'), 0.2);
                        border-radius: $font-size-base * 2;
                        @include media-breakpoint-down(md) {
                            border-radius: 2px;
                        }
                    }
                }
                @include media-breakpoint-down(md) {
                    width: 100%;
                    &:not(:last-child) {
                        &:after {
                            content: '';
                            display: block;
                            height: 2px;
                            background: $gray-300;
                            padding: 0 $navbar-nav-link-padding-x;
                            border-radius: 5px;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}