.tournament-list {
    ul {
        padding-top: $h8-font-size;
        padding-bottom: $h8-font-size;
        li {
            color: $gray-900;
            padding-top: $h8-font-size;
            padding-bottom: $h8-font-size;
            font-size: $h6-font-size;
            line-height: $h5-line-height;
            .country-count {
                color: $gray-600;
                padding-right: $input-btn-padding-x-sm;
            }
        }
    }
    .btn {
        font-size: $h7-font-size;
        width: 87px;
    }
    .no-data {
        margin-top: $custom-control-gutter - 0.1rem;
    }
}